body {
    background: rgb(245,244,142);
    background: radial-gradient(circle, rgba(245,244,142,1) 0%, rgba(242,193,255,1) 100%);
    font-family: 'Helvetica', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 52px;
    font-weight: 900;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cup {
    width: 400px;
    height: 700px;
    background: #7bb9ba;
    border-radius: 15px;
}

img {
    padding: 10px;
    border-radius: 20px;
}

button {
    font-size: 18px;
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 5px;
}

button:hover {
	background: rgba(0,0,0,0);
	color: white;
}

p {
    text-align: center;
    font-size: 18px;
}

.description {
    margin-bottom: 35px;
}

.rating {
    margin-top: 25px;
}